<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiquan.dao.WeixinUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.huiquan.entity.WeixinUser">
		<id column="id" property="id" />
		<result column="nickName" property="nickName" />
		<result column="avatarUrl" property="avatarUrl" />
		<result column="gender" property="gender" />
		<result column="city" property="city" />
		<result column="province" property="province" />
		<result column="country" property="country" />
		<result column="maxMemoryNum" property="maxMemoryNum" />
		<result column="tsp" property="tsp" />
	</resultMap>

</mapper>
